{% load crispy_forms_tags%}

<div class="main">
    <!-- Create a Form -->
    <form method="POST" action="{% url 'delete-event' object.id %}">
        <!-- Security token by Django -->
        {% csrf_token %}{{form|crispy}}
        <p>Sunteti sigur ca doriti stergerea acestui eveniment?</p>
        <div class="modal-footer">
            <button type="submit" class="btn btn-danger">Sterge</button>
            <button  class="btn btn-warning"><a href="{% url 'list-events' %}" style="text-decoration:none; color:white">Renunta</a></button>
        </div>
    </form>
</div>
