{% extends 'main/base.html' %}
{% block title %}Resetare{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}

<div class="container h-75 pt-5" >
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
            <div class="card text-black">
                <div class="card-body p-md-5">
                    <div class="row justify-content-center">
                        <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                            <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Resetare Parola</p>
                            <form method="POST">
                                {% csrf_token %}
                                <fieldset class="form-group">
                                    {{ form|crispy }}
                                </fieldset>
                                <div class="form-group">
                                    <button class="btn btn-primary" type="submit">Cere resetarea parolei</button>
                                </div>
                            </form>

                        </div>
                        <div class="col-md-10 col-lg-6 col-xl-7 d-flex flex-column align-items-center justify-content-center order-1 order-lg-2">
                            <img src="{% static 'main/pictures/forgot-password.jpg' %}" class="img-fluid" alt="sample" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


    
{% endblock content %}